<div class="container row justify-content-center" role="main">
  <div class="card  text-white bg-secondary col-md-4">
    <div class="card-body pt-4">
      <h5 class="card-title">Şifre Değiştir</h5>
      <form [formGroup]="passwordChangeForm">

        <!--registrationNumber-->
        <div class="form-gorup p-2">
          <div>Sicil No:</div>
          <input class="form-control" type="text" id="registrationNumber" name="registrationNumber"
            formControlName="registrationNumber" placeholder="Sicil No"  required readonly >
          <div class="alert alert-danger"
            *ngIf="passwordChangeForm.get('registrationNumber')?.hasError('required') && passwordChangeForm.get('registrationNumber')?.dirty">
            Sicil No zorunlu</div>
        </div>

        <!--passWord-->
        <div class="form-gorup p-2">
          <div>Şifre:</div>
          <input class="form-control" type="password" id="password" name="passWord" formControlName="password"
            placeholder="Şifre" required comporePassword>
          <div class="alert alert-danger"
            *ngIf="passwordChangeForm.get('password')?.hasError('required') && passwordChangeForm.get('password')?.dirty">
            Şifrenin Girilmesi Zorunlu</div>
        </div>

        <!--change password button-->
        <div class="text-center p-2">
          <button type="button" class="btn btn-light my-4" (click)="changePassword()"
            [disabled]="!passwordChangeForm.valid">Şifre Değiştir</button>
        </div>

      </form>
    </div>
  </div>
</div>