USE [EPR]
GO
/****** Object:  Table [dbo].[CorporateMailAddresses]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CorporateMailAddresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CorporateId] [int] NOT NULL,
	[MailAddressId] [int] NOT NULL,
	[Optime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CorporateMailAddresses1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Corporates]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Corporates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CorporateCode] [int] NOT NULL,
	[CorporateName] [varchar](50) NOT NULL,
	[CorporateAccountNo] [int] NOT NULL,
	[MoneyType] [int] NOT NULL,
	[Prefix] [varchar](30) NOT NULL,
	[ComissionType] [int] NOT NULL,
	[ComissionMoneyType] [int] NOT NULL,
	[Comission] [int] NOT NULL,
	[ComissionAccountNo] [int] NOT NULL,
	[Optime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Corporates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HcpUploads]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HcpUploads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentRequestId] [int] NOT NULL,
	[HcpId] [uniqueidentifier] NOT NULL,
	[Extension] [varchar](5) NOT NULL,
	[Explanation] [varchar](100) NOT NULL,
	[Optime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_HcpUploads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MailAddresses]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailAddresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Address] [varchar](200) NOT NULL,
	[IsCC] [bit] NOT NULL,
	[IsPtt] [bit] NOT NULL,
	[Optime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CorporateMails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuOperationClaims]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuOperationClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NOT NULL,
	[OperationClaimId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_MenuOperationClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[LinkedMenuId] [int] NOT NULL,
	[Path] [varchar](50) NOT NULL,
	[MenuOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Men] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationClaims]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[LinkedOperationClaimId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_oc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentRequestDetails]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentRequestDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentRequestId] [int] NOT NULL,
	[ReferenceNumber] [varchar](50) NOT NULL,
	[AccountNumber] [bigint] NOT NULL,
	[CustomerNumber] [bigint] NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[FirstName] [varchar](200) NOT NULL,
	[LastName] [varchar](200) NOT NULL,
	[PaymentAmount] [decimal](18, 2) NOT NULL,
	[CardDepositDate] [datetime] NOT NULL,
	[Explanation] [varchar](500) NOT NULL,
	[Optime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PaymentRequestDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentRequests]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RequestNumber] [nvarchar](50) NOT NULL,
	[CorporateId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[FileId] [int] NOT NULL,
	[MoneyType] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Optime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PaymentRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentRequestSummaries]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentRequestSummaries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentRequestId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[UploadDate] [datetime] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[UserId] [int] NOT NULL,
	[SystemEnteredDate] [date] NOT NULL,
	[SystemEnteredTime] [time](7) NOT NULL,
	[SystemEnteredRegistrationNumber] [int] NOT NULL,
	[Optime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_RequestPaymentSummaries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleOperationClaims]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleOperationClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[OperationClaimId] [int] NOT NULL,
	[Optime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_RoleOperationClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Optime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SftpDownloads]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SftpDownloads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CorporateId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[SftpFileName] [varchar](100) NOT NULL,
	[Status] [int] NOT NULL,
	[Optime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_SftpDownloads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[Optime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21.09.2023 10:04:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationNumber] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[PasswordSalt] [varbinary](max) NULL,
	[PasswordHash] [varbinary](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Us] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CorporateMailAddresses] ON 

INSERT [dbo].[CorporateMailAddresses] ([Id], [CorporateId], [MailAddressId], [Optime], [IsActive]) VALUES (1, 1, 2, CAST(N'2023-09-02T08:05:53.030' AS DateTime), 1)
INSERT [dbo].[CorporateMailAddresses] ([Id], [CorporateId], [MailAddressId], [Optime], [IsActive]) VALUES (2, 2, 2, CAST(N'2023-09-02T08:05:53.030' AS DateTime), 1)
INSERT [dbo].[CorporateMailAddresses] ([Id], [CorporateId], [MailAddressId], [Optime], [IsActive]) VALUES (3, 3, 2, CAST(N'2023-09-02T08:05:53.030' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[CorporateMailAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Corporates] ON 

INSERT [dbo].[Corporates] ([Id], [CorporateCode], [CorporateName], [CorporateAccountNo], [MoneyType], [Prefix], [ComissionType], [ComissionMoneyType], [Comission], [ComissionAccountNo], [Optime], [IsActive]) VALUES (1, 104, N'CARE-USD                                          ', 0, 2, N'caresyodm', 1, 2, 1, 60031638, CAST(N'2023-08-08T16:48:09.317' AS DateTime), 1)
INSERT [dbo].[Corporates] ([Id], [CorporateCode], [CorporateName], [CorporateAccountNo], [MoneyType], [Prefix], [ComissionType], [ComissionMoneyType], [Comission], [ComissionAccountNo], [Optime], [IsActive]) VALUES (2, 153, N'FAO-USD                                           ', 0, 2, N'fao', 1, 2, 1, 60031638, CAST(N'2023-08-08T16:48:09.317' AS DateTime), 1)
INSERT [dbo].[Corporates] ([Id], [CorporateCode], [CorporateName], [CorporateAccountNo], [MoneyType], [Prefix], [ComissionType], [ComissionMoneyType], [Comission], [ComissionAccountNo], [Optime], [IsActive]) VALUES (3, 165, N'HUMAN-USD                                         ', 0, 2, N'humanappel', 1, 2, 1, 60031638, CAST(N'2023-08-08T16:48:09.317' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Corporates] OFF
GO
SET IDENTITY_INSERT [dbo].[HcpUploads] ON 

INSERT [dbo].[HcpUploads] ([Id], [PaymentRequestId], [HcpId], [Extension], [Explanation], [Optime], [IsActive]) VALUES (1, 4, N'98927cdf-d273-7092-3155-43323f2002c4', N'xlsx', N'556-HIDAYET 070623.xlsx', CAST(N'2023-09-18T11:54:45.740' AS DateTime), 1)
INSERT [dbo].[HcpUploads] ([Id], [PaymentRequestId], [HcpId], [Extension], [Explanation], [Optime], [IsActive]) VALUES (2, 4, N'c2ebd91a-855e-f651-ce8a-bd56dfc4ac36', N'xlsx', N'Download.xlsx', CAST(N'2023-09-18T11:54:45.783' AS DateTime), 1)
INSERT [dbo].[HcpUploads] ([Id], [PaymentRequestId], [HcpId], [Extension], [Explanation], [Optime], [IsActive]) VALUES (3, 5, N'30fc6838-7058-83f4-2f67-575a849480dd', N'xlsx', N'556-HIDAYET 070623.xlsx', CAST(N'2023-09-18T12:04:09.987' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[HcpUploads] OFF
GO
SET IDENTITY_INSERT [dbo].[MailAddresses] ON 

INSERT [dbo].[MailAddresses] ([Id], [Address], [IsCC], [IsPtt], [Optime], [IsActive]) VALUES (1, N'hakan.kaya6@ptt.gov.tr', 0, 1, CAST(N'2023-08-31T11:08:10.923' AS DateTime), 1)
INSERT [dbo].[MailAddresses] ([Id], [Address], [IsCC], [IsPtt], [Optime], [IsActive]) VALUES (2, N'hakan.kaya6@ptt.gov.tr', 0, 0, CAST(N'2023-08-21T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[MailAddresses] ([Id], [Address], [IsCC], [IsPtt], [Optime], [IsActive]) VALUES (3, N'hakan.kaya6@ptt.gov.tr', 0, 1, CAST(N'2023-09-05T12:11:05.110' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[MailAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuOperationClaims] ON 

INSERT [dbo].[MenuOperationClaims] ([Id], [MenuId], [OperationClaimId], [IsActive]) VALUES (1, 1, 1, 1)
INSERT [dbo].[MenuOperationClaims] ([Id], [MenuId], [OperationClaimId], [IsActive]) VALUES (2, 2, 8, 1)
INSERT [dbo].[MenuOperationClaims] ([Id], [MenuId], [OperationClaimId], [IsActive]) VALUES (3, 3, 16, 1)
SET IDENTITY_INSERT [dbo].[MenuOperationClaims] OFF
GO
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [Name], [Description], [LinkedMenuId], [Path], [MenuOrder], [IsActive]) VALUES (1, N'ApiLog', N'Api Log', 0, N'api-log', 15, 1)
INSERT [dbo].[Menus] ([Id], [Name], [Description], [LinkedMenuId], [Path], [MenuOrder], [IsActive]) VALUES (2, N'Corporate', N'Kurum Tanimlama', 0, N'corporate', 5, 1)
INSERT [dbo].[Menus] ([Id], [Name], [Description], [LinkedMenuId], [Path], [MenuOrder], [IsActive]) VALUES (3, N'Dashboard', N'Gösterge Paneli', 0, N'dashboard', 1, 1)
SET IDENTITY_INSERT [dbo].[Menus] OFF
GO
SET IDENTITY_INSERT [dbo].[OperationClaims] ON 

INSERT [dbo].[OperationClaims] ([Id], [Name], [LinkedOperationClaimId], [IsActive]) VALUES (1, N'ApiLog', 0, 1)
INSERT [dbo].[OperationClaims] ([Id], [Name], [LinkedOperationClaimId], [IsActive]) VALUES (2, N'ApiLog.Add', 1, 1)
INSERT [dbo].[OperationClaims] ([Id], [Name], [LinkedOperationClaimId], [IsActive]) VALUES (3, N'ApiLog.Delete', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[OperationClaims] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentRequestDetails] ON 

INSERT [dbo].[PaymentRequestDetails] ([Id], [PaymentRequestId], [ReferenceNumber], [AccountNumber], [CustomerNumber], [PhoneNumber], [FirstName], [LastName], [PaymentAmount], [CardDepositDate], [Explanation], [Optime], [IsActive]) VALUES (1, 1, N'MENEKSE-1509-01-01', 15136369, 1992157932, N'5541574854', N'AMMAR ', N'ALABSİ', CAST(423960.45 AS Decimal(18, 2)), CAST(N'2023-09-15T00:00:00.000' AS DateTime), N'Action Aid -2023-037', CAST(N'2023-09-18T11:39:58.380' AS DateTime), 1)
INSERT [dbo].[PaymentRequestDetails] ([Id], [PaymentRequestId], [ReferenceNumber], [AccountNumber], [CustomerNumber], [PhoneNumber], [FirstName], [LastName], [PaymentAmount], [CardDepositDate], [Explanation], [Optime], [IsActive]) VALUES (2, 1, N'MENEKSE-1509-01-02', 17011109, 2084685834, N'05385738770', N'ABDULKADER ', N' OSMAN', CAST(88337.70 AS Decimal(18, 2)), CAST(N'2023-09-15T00:00:00.000' AS DateTime), N'fatura no 06791 CARE-AFNS-2023-004', CAST(N'2023-09-18T11:39:58.470' AS DateTime), 1)
INSERT [dbo].[PaymentRequestDetails] ([Id], [PaymentRequestId], [ReferenceNumber], [AccountNumber], [CustomerNumber], [PhoneNumber], [FirstName], [LastName], [PaymentAmount], [CardDepositDate], [Explanation], [Optime], [IsActive]) VALUES (3, 1, N'MENEKSE-1509-01-03', 17826682, 2273087196, N'0981324736', N'HASAN', N' AL DEK', CAST(41358.11 AS Decimal(18, 2)), CAST(N'2023-09-15T00:00:00.000' AS DateTime), N'fatura no 002041 WVI-WAQTI-2023-045', CAST(N'2023-09-18T11:39:58.477' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[PaymentRequestDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentRequests] ON 

INSERT [dbo].[PaymentRequests] ([Id], [RequestNumber], [CorporateId], [UserId], [FileId], [MoneyType], [Status], [Optime], [IsActive]) VALUES (1, N'MENEKSE-1509-01-01', 18, 1, 2, 1, 0, CAST(N'2023-09-18T11:39:58.297' AS DateTime), 1)
INSERT [dbo].[PaymentRequests] ([Id], [RequestNumber], [CorporateId], [UserId], [FileId], [MoneyType], [Status], [Optime], [IsActive]) VALUES (2, N'BESIR-0709-01', 62, 1, 3, 1, 0, CAST(N'2023-09-18T11:47:35.633' AS DateTime), 1)
INSERT [dbo].[PaymentRequests] ([Id], [RequestNumber], [CorporateId], [UserId], [FileId], [MoneyType], [Status], [Optime], [IsActive]) VALUES (3, N'NURD-1502-27', 12, 1, 4, 1, 0, CAST(N'2023-09-18T11:49:54.743' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PaymentRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentRequestSummaries] ON 

INSERT [dbo].[PaymentRequestSummaries] ([Id], [PaymentRequestId], [Status], [UploadDate], [Quantity], [Amount], [UserId], [SystemEnteredDate], [SystemEnteredTime], [SystemEnteredRegistrationNumber], [Optime], [IsActive]) VALUES (1, 4, 1, CAST(N'2023-09-18T00:00:00.000' AS DateTime), 2, CAST(9090.00 AS Decimal(18, 2)), 1, CAST(N'2023-09-18' AS Date), CAST(N'00:01:55.4180000' AS Time), 0, CAST(N'2023-09-18T11:54:45.797' AS DateTime), 1)
INSERT [dbo].[PaymentRequestSummaries] ([Id], [PaymentRequestId], [Status], [UploadDate], [Quantity], [Amount], [UserId], [SystemEnteredDate], [SystemEnteredTime], [SystemEnteredRegistrationNumber], [Optime], [IsActive]) VALUES (2, 5, 1, CAST(N'2023-09-18T00:00:00.000' AS DateTime), 2, CAST(1818000.00 AS Decimal(18, 2)), 1, CAST(N'2023-09-18' AS Date), CAST(N'00:02:00.3360000' AS Time), 0, CAST(N'2023-09-18T12:04:10.100' AS DateTime), 1)
INSERT [dbo].[PaymentRequestSummaries] ([Id], [PaymentRequestId], [Status], [UploadDate], [Quantity], [Amount], [UserId], [SystemEnteredDate], [SystemEnteredTime], [SystemEnteredRegistrationNumber], [Optime], [IsActive]) VALUES (3, 6, 1, CAST(N'2023-09-18T00:00:00.000' AS DateTime), 2, CAST(75750.00 AS Decimal(18, 2)), 1, CAST(N'2023-09-18' AS Date), CAST(N'00:02:00.5490000' AS Time), 0, CAST(N'2023-09-18T12:06:14.573' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PaymentRequestSummaries] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleOperationClaims] ON 

INSERT [dbo].[RoleOperationClaims] ([Id], [RoleId], [OperationClaimId], [Optime], [IsActive]) VALUES (1, 1, 1, CAST(N'2023-09-06T21:17:23.813' AS DateTime), 1)
INSERT [dbo].[RoleOperationClaims] ([Id], [RoleId], [OperationClaimId], [Optime], [IsActive]) VALUES (2, 1, 2, CAST(N'2023-09-06T21:17:23.813' AS DateTime), 1)
INSERT [dbo].[RoleOperationClaims] ([Id], [RoleId], [OperationClaimId], [Optime], [IsActive]) VALUES (3, 1, 3, CAST(N'2023-09-06T21:17:23.813' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[RoleOperationClaims] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Optime], [IsActive]) VALUES (1, N'Admin', CAST(N'2023-09-06T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Roles] ([Id], [Name], [Optime], [IsActive]) VALUES (2, N'User', CAST(N'2023-09-06T22:15:03.963' AS DateTime), 1)
INSERT [dbo].[Roles] ([Id], [Name], [Optime], [IsActive]) VALUES (3, N'Test2', CAST(N'2023-09-20T11:30:29.860' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SftpDownloads] ON 

INSERT [dbo].[SftpDownloads] ([Id], [CorporateId], [UserId], [SftpFileName], [Status], [Optime], [IsActive]) VALUES (1, 72, 1, N'/kurum/tekvucuddern/firma/????????VUCUT 140923.xlsx', 3, CAST(N'2023-09-18T11:39:05.393' AS DateTime), 1)
INSERT [dbo].[SftpDownloads] ([Id], [CorporateId], [UserId], [SftpFileName], [Status], [Optime], [IsActive]) VALUES (2, 18, 1, N'/kurum/meneksesosyal/firma/MENEKSE 150923.xlsx', 0, CAST(N'2023-09-18T11:39:58.520' AS DateTime), 1)
INSERT [dbo].[SftpDownloads] ([Id], [CorporateId], [UserId], [SftpFileName], [Status], [Optime], [IsActive]) VALUES (3, 62, 1, N'/kurum/besirsosyal/firma/PTT BESIR-0709-01.xlsx', 0, CAST(N'2023-09-18T11:47:35.667' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SftpDownloads] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId], [Optime], [IsActive]) VALUES (1, 1, 1, CAST(N'2023-09-06T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId], [Optime], [IsActive]) VALUES (2, 2, 1, CAST(N'2023-09-06T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[UserRoles] ([Id], [UserId], [RoleId], [Optime], [IsActive]) VALUES (3, 6, 2, CAST(N'2023-09-06T22:21:16.210' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [RegistrationNumber], [FirstName], [LastName], [PasswordSalt], [PasswordHash], [IsActive]) VALUES (1, 500372, N'Hakan', N'Kaya', 0x4CBFAF450B9F68ED3F25D6CE406A7968E4B52BA03DD86BAF249B90C8E4BCC7E14B331790CB9E4F9B01F362E5F198F474FE6FCC9B58483270AFAE68CD7D2A23FD75DF3349468E9E5ABE62D78F013C6A712BC22D4B1B7AA8422DF4BA8DABEC367447CF5EED96427F32091C17684282B6B7EA221ECD10BF57FBD05FC6DA32C9EA74, 0x4E8C02A6E3B48118CED262D15A6DCD9DEAD1C8A24F77E363DC40D281D9D0FC7CD6E6B114DC471C9565FB8DF1DC8F2952D2B9E4560195D2DE389ACD00268CE51B, 1)
INSERT [dbo].[Users] ([Id], [RegistrationNumber], [FirstName], [LastName], [PasswordSalt], [PasswordHash], [IsActive]) VALUES (2, 100000, N'ptt1234', N'ptt1234', 0x1FF99ADE8FEBC05988751907E92C3052479984EED898E47938A4A2F78ADB678C4BCC13845F7213E990EC62CE3ECB5B220FE266C7918AE69EF2F7E79168EFA67B5BED4DD0F25E292E787342B70064943F8BF46D0FDF8032D1F6D3F67EFC29AD0D25F1E851923D372AC92EB2FBB8081AA0BCE569297F96330E7F4E0664DB0E2B2D, 0x15C83317B8B7905EED359903D7E6C36280C5E8F3119AA44BFF02E612AC95EE0C24649ED5FD60F4ED28D457BD64BBE22F6742DDE9E7CA8A52EAB0FFF94627C29E, 1)
INSERT [dbo].[Users] ([Id], [RegistrationNumber], [FirstName], [LastName], [PasswordSalt], [PasswordHash], [IsActive]) VALUES (3, 100101, N'Test', N'Test', 0x7B4C3E3B0FCF0B07B126F114DAC9D211AD857871A3B625E4DE5BF8412FD9D5EFD19A3922C92B722517E1929DB27DAD14C006A152A6F686B86B28C0DF68D0DDB9D57CA5CA8C3E6C35F81A05AE99ABCCC7BA694599D662E688DEF88C8542C78C001D07BCB481569203177B145F6C6A9D3FC03210FD8616ABE7E081CB33C9B771EF, 0x9DBD7D5C712B08C4F080548AB85F162D0DE266B3C4A48BAC5159135A11068AC232577733E7AAEED6D99D50D9A915CA7B72407E2D41B5D7FEBAA44EA76CD62230, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Corporates] ADD  CONSTRAINT [DF_Corporates_Optime]  DEFAULT (getdate()) FOR [Optime]
GO
ALTER TABLE [dbo].[HcpUploads] ADD  CONSTRAINT [DF_HcpUploads_Extension]  DEFAULT ('xls') FOR [Extension]
GO
ALTER TABLE [dbo].[HcpUploads] ADD  CONSTRAINT [DF_HcpUploads_Explanation]  DEFAULT ('Onay Dosya') FOR [Explanation]
GO
ALTER TABLE [dbo].[HcpUploads] ADD  CONSTRAINT [DF_HcpUploads_Optime]  DEFAULT (getdate()) FOR [Optime]
GO
ALTER TABLE [dbo].[MailAddresses] ADD  CONSTRAINT [DF_CorporateMailAddresses_IsPtt]  DEFAULT ((0)) FOR [IsPtt]
GO
ALTER TABLE [dbo].[MailAddresses] ADD  CONSTRAINT [DF_CorporateMails_Optime]  DEFAULT (getdate()) FOR [Optime]
GO
ALTER TABLE [dbo].[OperationClaims] ADD  CONSTRAINT [DF_oc_LinkedOperationClaimId]  DEFAULT ((0)) FOR [LinkedOperationClaimId]
GO
ALTER TABLE [dbo].[PaymentRequestDetails] ADD  CONSTRAINT [DF_PaymentRequestDetails_Optime]  DEFAULT (getdate()) FOR [Optime]
GO
ALTER TABLE [dbo].[PaymentRequests] ADD  CONSTRAINT [DF_PaymentRequests_FileId]  DEFAULT ((0)) FOR [FileId]
GO
ALTER TABLE [dbo].[PaymentRequests] ADD  CONSTRAINT [DF_PaymentRequests_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[PaymentRequests] ADD  CONSTRAINT [DF_PaymentRequests_Optime]  DEFAULT (getdate()) FOR [Optime]
GO
ALTER TABLE [dbo].[PaymentRequestSummaries] ADD  CONSTRAINT [DF_PaymentRequestSummaries_Optime]  DEFAULT (getdate()) FOR [Optime]
GO
ALTER TABLE [dbo].[RoleOperationClaims] ADD  CONSTRAINT [DF_RoleOperationClaims_Optime]  DEFAULT (getdate()) FOR [Optime]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_Optime]  DEFAULT (getdate()) FOR [Optime]
GO
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [DF_UserRoles_Optime]  DEFAULT (getdate()) FOR [Optime]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Us_RegistrationNumber]  DEFAULT ((0)) FOR [RegistrationNumber]
GO
ALTER TABLE [dbo].[CorporateMailAddresses]  WITH CHECK ADD  CONSTRAINT [FK_CorporateMailAddresses_Corporates] FOREIGN KEY([CorporateId])
REFERENCES [dbo].[Corporates] ([Id])
GO
ALTER TABLE [dbo].[CorporateMailAddresses] CHECK CONSTRAINT [FK_CorporateMailAddresses_Corporates]
GO
ALTER TABLE [dbo].[CorporateMailAddresses]  WITH CHECK ADD  CONSTRAINT [FK_CorporateMailAddresses_MailAddresses] FOREIGN KEY([MailAddressId])
REFERENCES [dbo].[MailAddresses] ([Id])
GO
ALTER TABLE [dbo].[CorporateMailAddresses] CHECK CONSTRAINT [FK_CorporateMailAddresses_MailAddresses]
GO
ALTER TABLE [dbo].[HcpUploads]  WITH CHECK ADD  CONSTRAINT [FK_HcpUploads_PaymentRequests] FOREIGN KEY([PaymentRequestId])
REFERENCES [dbo].[PaymentRequests] ([Id])
GO
ALTER TABLE [dbo].[HcpUploads] CHECK CONSTRAINT [FK_HcpUploads_PaymentRequests]
GO
ALTER TABLE [dbo].[MenuOperationClaims]  WITH CHECK ADD  CONSTRAINT [FK_MenuOperationClaims_Menus] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menus] ([Id])
GO
ALTER TABLE [dbo].[MenuOperationClaims] CHECK CONSTRAINT [FK_MenuOperationClaims_Menus]
GO
ALTER TABLE [dbo].[MenuOperationClaims]  WITH CHECK ADD  CONSTRAINT [FK_MenuOperationClaims_OperationClaims] FOREIGN KEY([OperationClaimId])
REFERENCES [dbo].[OperationClaims] ([Id])
GO
ALTER TABLE [dbo].[MenuOperationClaims] CHECK CONSTRAINT [FK_MenuOperationClaims_OperationClaims]
GO
ALTER TABLE [dbo].[PaymentRequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRequestDetails_PaymentRequests] FOREIGN KEY([PaymentRequestId])
REFERENCES [dbo].[PaymentRequests] ([Id])
GO
ALTER TABLE [dbo].[PaymentRequestDetails] CHECK CONSTRAINT [FK_PaymentRequestDetails_PaymentRequests]
GO
ALTER TABLE [dbo].[PaymentRequests]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRequests_SftpDownloads] FOREIGN KEY([FileId])
REFERENCES [dbo].[SftpDownloads] ([Id])
GO
ALTER TABLE [dbo].[PaymentRequests] CHECK CONSTRAINT [FK_PaymentRequests_SftpDownloads]
GO
ALTER TABLE [dbo].[PaymentRequests]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRequests_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PaymentRequests] CHECK CONSTRAINT [FK_PaymentRequests_Users]
GO
ALTER TABLE [dbo].[PaymentRequestSummaries]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRequestSummaries_PaymentRequests] FOREIGN KEY([PaymentRequestId])
REFERENCES [dbo].[PaymentRequests] ([Id])
GO
ALTER TABLE [dbo].[PaymentRequestSummaries] CHECK CONSTRAINT [FK_PaymentRequestSummaries_PaymentRequests]
GO
ALTER TABLE [dbo].[PaymentRequestSummaries]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRequestSummaries_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PaymentRequestSummaries] CHECK CONSTRAINT [FK_PaymentRequestSummaries_Users]
GO
ALTER TABLE [dbo].[RoleOperationClaims]  WITH CHECK ADD  CONSTRAINT [FK_RoleOperationClaims_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[RoleOperationClaims] CHECK CONSTRAINT [FK_RoleOperationClaims_Roles]
GO
ALTER TABLE [dbo].[SftpDownloads]  WITH CHECK ADD  CONSTRAINT [FK_SftpDownloads_Corporates] FOREIGN KEY([CorporateId])
REFERENCES [dbo].[Corporates] ([Id])
GO
ALTER TABLE [dbo].[SftpDownloads] CHECK CONSTRAINT [FK_SftpDownloads_Corporates]
GO
ALTER TABLE [dbo].[SftpDownloads]  WITH CHECK ADD  CONSTRAINT [FK_SftpDownloads_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SftpDownloads] CHECK CONSTRAINT [FK_SftpDownloads_Users]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
