<div class="container-fluid" role="main">

  <!--Icon-->
  <div class="row">
    <div class="col-md-1 border-0"><i class="fa fa-user-circle-o fa-2x"></i></div>
    <div class="col-md-11">
      <h5>Kullanıcı Rol Tanımlama İşlemleri</h5>
    </div>
  </div>

  <div class="row">
    <!--Search Form-->
    <form [formGroup]="searchForm">
      <!--card-->
      <div class="card p-2 border-0 ">
        <div class="card-body bg-secondary text-white ">
          <div class="row">
            <!--filter-->
            <div class="col-md-10">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="filter" name="filter" id="filter"
                  placeholder="Sicil No, Ad, Soyad, Rol Adı ile arama yap.." required minlength="1">
                <div class="alert alert-danger"
                  *ngIf="searchForm.get('filter')?.hasError('required')  && searchForm.get('filter')?.dirty">
                  Sicil No, Ad, Soyad, Rol Adı Girmek Zorundasınız. </div>
                <div class="alert alert-danger"
                  *ngIf=" searchForm.get('filter')?.hasError('minlength')  && searchForm.get('filter')?.dirty">En
                  az 1 Harf girmek zorundasınız
                </div>
              </div>
            </div>

            <!--Search Button-->
            <div class="col-md-1">
              <div class="form-group">
                <button type="button" class="btn btn-warning text-white" name="search" (click)="search()"
                  [disabled]="!searchForm.valid" style="cursor: pointer;"
                  [ngStyle]="{'display':'UserRole.Search' | operationclaim}">Ara</button>
              </div>
            </div>

            <!--Clear Button-->
            <div class="col-md-1">
              <div class="form-group">
                <button type="button" class="btn btn-light" name="clear" (click)="clear()"
                  style="cursor: pointer;">Temizle</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>

  <!--call UserRoleModal-->
  <div class="row p-2">
    <div class="col-md-2">
      <button type="button" class="btn btn-info text-white" (click)="openUserRoleModal()"
        style="cursor: pointer;" [ngStyle]="{'display':'UserRole.Add' | operationclaim}"> <i
          class="fa fa-plus"></i> Yeni Kullanıcı Rolü Ekle </button>
    </div>
  </div>
  
  <!--Table-->
  <div class="card p-2">
    <div class="card-body">
      <div class="table-responsive" id="divSerach">
        <table class="table align-items-center table-flush" id="tblSearch" name="tblSearch">
          <thead>
            <th style="display: none;"><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('id')"
                style="cursor: pointer;"></i>Id<i class="fa fa-arrow-circle-up" aria-hidden="true"
                (click)="orderAsc('id')" style="cursor: pointer;"></i></th>
            <th style="display: none;"><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('userId')"
                style="cursor: pointer;"></i>Kullanıcı Id<i class="fa fa-arrow-circle-up" aria-hidden="true"
                (click)="orderAsc('userId')" style="cursor: pointer;"></i></th>
            <th><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('registrationNumber')"
                style="cursor: pointer;"></i>Sicil<i class="fa fa-arrow-circle-up" aria-hidden="true"
                (click)="orderAsc('registrationNumber')" style="cursor: pointer;"></i></th>
            <th><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('firstName')"
                style="cursor: pointer;"></i>Ad<i class="fa fa-arrow-circle-up" aria-hidden="true"
                (click)="orderAsc('firstName')" style="cursor: pointer;"></i></th>
            <th><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('lastName')"
                  style="cursor: pointer;"></i>Soyad<i class="fa fa-arrow-circle-up" aria-hidden="true"
                  (click)="orderAsc('lastName')" style="cursor: pointer;"></i></th>
            <th style="display: none;"><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('roleId')"
                    style="cursor: pointer;"></i>RolId<i class="fa fa-arrow-circle-up" aria-hidden="true"
                    (click)="orderAsc('roleId')" style="cursor: pointer;"></i></th>
            <th><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('roleName')"
                style="cursor: pointer;"></i>Rol<i class="fa fa-arrow-circle-up" aria-hidden="true"
                (click)="orderAsc('roleName')" style="cursor: pointer;"></i></th>
            <th><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('optime')"
                style="cursor: pointer;"></i>Tarih<i class="fa fa-arrow-circle-up" aria-hidden="true"
                (click)="orderAsc('optime')" style="cursor: pointer;"></i></th>
            <th class="col-md-1">İşlemler</th>
          </thead>
          <tbody>
            <tr
              *ngFor="let userRoleSearchResponseModel of userRoleSearchResponseModels | paginate: {id:'userRolePagination',itemsPerPage:itemsPerPage, currentPage:currentPage}">
              <td style="display: none;">{{userRoleSearchResponseModel.id}}</td>
              <td style="display: none;">{{userRoleSearchResponseModel.userId}}</td>
              <td>{{userRoleSearchResponseModel.registrationNumber}}</td>
              <td>{{userRoleSearchResponseModel.firstName}}</td>
              <td>{{userRoleSearchResponseModel.lastName}}</td>
              <td style="display: none;">{{userRoleSearchResponseModel.roleId}}</td>
              <td>{{userRoleSearchResponseModel.roleName}}</td>
              <td>{{userRoleSearchResponseModel.optime | date:'dd.MM.yyyy hh:mm:ss'}}</td>
              <td class="col-md-1">
                <div class="row">
                  <i class="fa fa-pencil fa-2x  col-md-6" style="color: steelblue;cursor: pointer;"
                    (click)="openUserRoleModal(userRoleSearchResponseModel.id)"
                    [ngStyle]="{'display':'UserRole.Update' | operationclaim}"></i>
                  <i class="fa fa-trash fa-2x col-md-6" style="color: red;cursor: pointer;"
                    (click)="openConfirmModal(userRoleSearchResponseModel.id)"
                    [ngStyle]="{'display':'UserRole.Delete' | operationclaim}"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--pagination-->
  <div class="row p-2">
    <div class="col-md-10">
      <pagination-controls id="userRolePagination"
        (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>

  <!--bottoms-->
  <div class="col-md-1">
    <div class="row">
      <i class="fa fa-file-excel-o fa-2x col-md-6" style="color:green;cursor: pointer;" (click)="exportToExcel()"
        [ngStyle]="{'display':'UserRole.GetList' | operationclaim}"></i>
      <i class="fa fa-file-pdf-o fa-2x col-md-6" style="color:red;cursor: pointer;" (click)="exportToPdf()"
        [ngStyle]="{'display':'UserRole.GetList' | operationclaim}"></i>
    </div>
  </div>
</div>
<div class="col-md-1"></div>

<!--userRole modal-->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayUserRoleModal}">
  <div class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content bg-secondary text-white">
      <div class="modal-header">
        <h4 class="modal-title">Kullanıcı Rolü Ekleme & Düzenleme</h4>
        <button type="button" class="btn btn-light" aria-label="Close"
          (click)="onUserRoleModalCloseHandled()" style="cursor: pointer;">
          <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body bg-secondary text-white">
            <form [formGroup]="userRoleForm">

              <!--id-->
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="hidden" class="form-control" formControlName="id" id="id" name="id">
                  </div>
                </div>
              </div>

              <!--userId-->
              <div class="form-group pt-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="userId" class="col-form-label">Kullanıcı :</label>
                  </div>
                  <div class="col-md-8">
                    <select class="form-select" [(ngModel)]="userIdDefault" formControlName="userId"
                      id="userId" name="userId" required min="0" style="cursor: pointer;">
                      <option value=-1 selected disabled>Kullanıcı Seçiniz</option>
                      <option *ngFor="let userGetListResponseModel of userGetListResponseModels"
                        value={{userGetListResponseModel.id}}>
                        {{userGetListResponseModel.registrationNumber}}-{{userGetListResponseModel.firstName}} {{userGetListResponseModel.lastName}}
                      </option>
                    </select>
                    <div class="alert alert-danger"
                      *ngIf="userRoleForm.get('userId')?.hasError('required') && userRoleForm.get('userId')?.dirty">
                      Kullanıcı Zorunlu!</div>
                    <div class="alert alert-danger"
                      *ngIf="userRoleForm.get('userId')?.hasError('min') && userRoleForm.get('userId')?.dirty">
                      En az 0 olmak zorunda
                      zorunlu!</div>
                  </div>
                </div>
              </div>

              <!--roleId-->
              <div class="form-group pt-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="roleId" class="col-form-label">Rol:</label>
                  </div>
                  <div class="col-md-8">
                    <select class="form-select" [(ngModel)]="roleIdDefault" formControlName="roleId"
                      id="roleId" name="roleId" required min="0" style="cursor: pointer;">
                      <option value=-1 selected disabled>Rol Seçiniz</option>
                      <option *ngFor="let roleGetListResponseModel of roleGetListResponseModels"
                        value={{roleGetListResponseModel.id}}>{{roleGetListResponseModel.name}}
                      </option>
                    </select>
                    <div class="alert alert-danger"
                      *ngIf="userRoleForm.get('roleId')?.hasError('required') && userRoleForm.get('roleId')?.dirty">
                      Rol Zorunlu!</div>
                    <div class="alert alert-danger"
                      *ngIf="userRoleForm.get('roleId')?.hasError('min') && userRoleForm.get('roleId')?.dirty">
                      En az 0 olmak zorunda
                      zorunlu!</div>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      <!--modal footer-->
      <div class="modal-footer bg-secondary text-white justify-content-center  pt-4">
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!userRoleForm.valid"
          style="cursor: pointer;" [ngStyle]="{'display':'UserRole.Add' | operationclaim}"
          [ngStyle]="{'display':'UserRole.Update' | operationclaim}">Kaydet</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayConfirmModal}">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content bg-secondary text-white">
      <div class="modal-header">
        <h4 class="modal-title">Kullanıcı Rol Silme Onay</h4>
        <button type="button" class="btn btn-light" aria-label="Close" (click)="onConfirmModalCloseHandled()"> <i
            class="fa fa-times-circle fa-2x" aria-hidden="true" style="cursor: pointer;"></i></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body bg-secondary text-white">
            <div class="row">
              <div class="col-md-12">
                <h5>
                  Silmek İstediğinizden Emin misiniz?
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-secondary text-white justify-content-center">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-success" (click)="deleteFromConfirm()" style="cursor: pointer;"
              [ngStyle]="{'display':'UserRole.Delete' | operationclaim}">Evet</button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-danger" (click)="onConfirmModalCloseHandled()"
              style="cursor: pointer;">Hayır</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>