<div class="container-fluid" role="main">

  <!--Icon-->
  <div class="row">
    <div class="col-md-1 border-0"><i class="fa fa-envelope fa-2x"></i></div>
    <div class="col-md-11">
      <h5>Mail Adresi Tanımlama İşlemleri</h5>
    </div>
  </div>

  <div class="row">
    <!--Search Form-->
    <form [formGroup]="searchForm">
      <!--card-->
      <div class="card p-2 border-0 ">
        <div class="card-body bg-secondary text-white ">
          <div class="row">
            <!--filter-->
            <div class="col-md-10">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="filter" name="filter" id="filter"
                  placeholder="Mail Adresi ile arama yap.." required minlength="1">
                <div class="alert alert-danger"
                  *ngIf="searchForm.get('filter')?.hasError('required')  && searchForm.get('filter')?.dirty">
                   Mail Adresi girmek zorundasınız</div>
                <div class="alert alert-danger"
                  *ngIf=" searchForm.get('filter')?.hasError('minlength')  && searchForm.get('filter')?.dirty">En
                  az 1 Harf girmek zorundasınız
                </div>
              </div>
            </div>

            <!--Search Button-->
            <div class="col-md-1">
              <div class="form-group">
                <button type="button" class="btn btn-warning text-white" name="search" (click)="search()"
                  [disabled]="!searchForm.valid" style="cursor: pointer;"
                  [ngStyle]="{'display':'MailAddress.Search' | operationclaim}">Ara</button>
              </div>
            </div>

            <!--Clear Button-->
            <div class="col-md-1">
              <div class="form-group">
                <button type="button" class="btn btn-light" name="clear" (click)="clear()"
                  style="cursor: pointer;">Temizle</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>

  <!--call MailAddressModal-->
  <div class="row p-2">
    <div class="col-md-2">
      <button type="button" class="btn btn-info text-white" (click)="openMailAddressModal()"
        style="cursor: pointer;" [ngStyle]="{'display':'MailAddress.Add' | operationclaim}"> <i
          class="fa fa-plus"></i> Yeni Mail Adresi Ekle </button>
    </div>
  </div>

  <!--Table-->
  <div class="card p-2">
    <div class="card-body">
      <div class="table-responsive" id="divSerach">
        <table class="table align-items-center table-flush" id="tblSearch" name="tblSearch">
          <thead>
            <th style="display: none;"><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('id')"
                style="cursor: pointer;"></i>Id<i class="fa fa-arrow-circle-up" aria-hidden="true"
                (click)="orderAsc('id')" style="cursor: pointer;"></i></th>
            <th><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('address')"
                style="cursor: pointer;"></i>Mail Adresi<i class="fa fa-arrow-circle-up" aria-hidden="true"
                (click)="orderAsc('address')" style="cursor: pointer;"></i></th>
            <th><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('isCC')"
                style="cursor: pointer;"></i>CC Mi<i class="fa fa-arrow-circle-up" aria-hidden="true"
                (click)="orderAsc('isCC')" style="cursor: pointer;"></i></th>
            <th><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('isPtt')"
                  style="cursor: pointer;"></i>Ptt Mi<i class="fa fa-arrow-circle-up" aria-hidden="true"
                  (click)="orderAsc('isPtt')" style="cursor: pointer;"></i></th>
            <th><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('optime')"
                style="cursor: pointer;"></i>Tarih<i class="fa fa-arrow-circle-up" aria-hidden="true"
                (click)="orderAsc('optime')" style="cursor: pointer;"></i></th>
            <th class="col-md-1">İşlemler</th>
          </thead>
          <tbody>
            <tr
              *ngFor="let mailAddressSearchResponseModel of mailAddressSearchResponseModels | paginate: {id:'mailAddressPagination',itemsPerPage:itemsPerPage, currentPage:currentPage}">
              <td>{{mailAddressSearchResponseModel.address}}</td>
              <td>{{mailAddressSearchResponseModel.isCC | translate}}</td>
              <td>{{mailAddressSearchResponseModel.isPtt | translate}}</td>
              <td>{{mailAddressSearchResponseModel.optime |  date:'dd.MM.yyyy hh:mm:ss'}}</td>
              <td class="col-md-1">
                <div class="row">
                  <i class="fa fa-pencil fa-2x  col-md-6" style="color: steelblue;cursor: pointer;"
                    (click)="openMailAddressModal(mailAddressSearchResponseModel.id)"
                    [ngStyle]="{'display':'MailAddress.Update' | operationclaim}"></i>
                  <i class="fa fa-trash fa-2x col-md-6" style="color: red;cursor: pointer;"
                    (click)="openConfirmModal(mailAddressSearchResponseModel.id)"
                    [ngStyle]="{'display':'MailAddress.Delete' | operationclaim}"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--pagination-->
  <div class="row p-2">
    <div class="col-md-10">
      <pagination-controls id="mailAddressPagination"
        (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>

  <!--bottoms-->
  <div class="col-md-1">
    <div class="row">
      <i class="fa fa-file-excel-o fa-2x col-md-6" style="color:green;cursor: pointer;" (click)="exportToExcel()"
        [ngStyle]="{'display':'MailAddress.GetList' | operationclaim}"></i>
      <i class="fa fa-file-pdf-o fa-2x col-md-6" style="color:red;cursor: pointer;" (click)="exportToPdf()"
        [ngStyle]="{'display':'MailAddress.GetList' | operationclaim}"></i>
    </div>
  </div>
</div>
<div class="col-md-1"></div>

<!--MailAddress modal-->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayMailAddressModal}">
  <div class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content bg-secondary text-white">
      <div class="modal-header">
        <h4 class="modal-title">Mail Adresi Ekleme & Düzenleme</h4>
        <button type="button" class="btn btn-light" aria-label="Close"
          (click)="onMailAddressModalCloseHandled()" style="cursor: pointer;">
          <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body bg-secondary text-white">
            <form [formGroup]="mailAddressForm">

              <!--id-->
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="hidden" class="form-control" formControlName="id" id="id" name="id">
                  </div>
                </div>
              </div>

              <!--address-->
              <div class="form-group pt-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="name" class="form-label">Mail Adresi :</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="address" id="address" name="address"
                      placeholder="Mail Adresini Yazınız." required minlength="3">
                    <div class="alert alert-danger"
                      *ngIf="mailAddressForm.get('address')?.hasError('required') && mailAddressForm.get('address')?.dirty">
                      Mail Adresi zorunlu!</div>
                    <div class="alert alert-danger"
                      *ngIf="mailAddressForm.get('address')?.hasError('minlength') && mailAddressForm.get('address')?.dirty">
                      En
                      Az 3 Harf zorunlu!</div>
                  </div>
                </div>
              </div>

              <!--isCC-->
              <div class="form-group pt-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="isCC" class="col-form-label">CC Mi :</label>
                  </div>
                  <div class="col-md-8">
                    <select class="form-select" [(ngModel)]="isCCDefault"
                      formControlName="isCC" id="isCC"
                      name="isCC" required min="0" style="cursor: pointer;" (change)="setIsCC($event)">
                      <option value=-1 selected disabled>CC Mi Seçiniz</option>
                      <option value=false>Hayır</option>
                      <option value=true>Evet</option>
                    </select>
                    <div class="alert alert-danger"
                      *ngIf="mailAddressForm.get('isCC')?.hasError('required') && mailAddressForm.get('isCC')?.dirty">
                      CC Mi zorunlu!</div>
                    <div class="alert alert-danger"
                      *ngIf="mailAddressForm.get('isCC')?.hasError('min') && mailAddressForm.get('isCC')?.dirty">
                      En az 0 olmak zorunda
                      zorunlu!</div>
                  </div>
                </div>
              </div>

              <!--isPtt-->
              <div class="form-group pt-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="isPtt" class="col-form-label">Ptt Mi :</label>
                  </div>
                  <div class="col-md-8">
                    <select class="form-select" [(ngModel)]="isPttDefault"
                      formControlName="isPtt" id="isPtt"
                      name="isPtt" required min="0" style="cursor: pointer;" (change)="setIsPtt($event)">
                      <option value=-1 selected disabled>Ptt Mi Seçiniz</option>
                      <option value=false>Hayır</option>
                      <option value=true>Evet</option>
                    </select>
                    <div class="alert alert-danger"
                      *ngIf="mailAddressForm.get('isPtt')?.hasError('required') && mailAddressForm.get('isPtt')?.dirty">
                      Ptt Mi zorunlu!</div>
                    <div class="alert alert-danger"
                      *ngIf="mailAddressForm.get('isPtt')?.hasError('min') && mailAddressForm.get('isPtt')?.dirty">
                      En az 0 olmak zorunda
                      zorunlu!</div>
                  </div>
                </div>
              </div>


            </form>
          </div>
        </div>
      </div>
      <!--modal footer-->
      <div class="modal-footer bg-secondary text-white justify-content-center  pt-4">
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!mailAddressForm.valid"
          style="cursor: pointer;" [ngStyle]="{'display':'MailAddress.Add' | operationclaim}"
          [ngStyle]="{'display':'MailAddress.Update' | operationclaim}">Kaydet</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayConfirmModal}">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content bg-secondary text-white">
      <div class="modal-header">
        <h4 class="modal-title">Kurum Mail Adresi Silme Onay</h4>
        <button type="button" class="btn btn-light" aria-label="Close" (click)="onConfirmModalCloseHandled()"> <i
            class="fa fa-times-circle fa-2x" aria-hidden="true" style="cursor: pointer;"></i></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body bg-secondary text-white">
            <div class="row">
              <div class="col-md-12">
                <h5>
                  Silmek İstediğinizden Emin misiniz?
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-secondary text-white justify-content-center">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-success" (click)="deleteFromConfirm()" style="cursor: pointer;"
              [ngStyle]="{'display':'MailAddress.Delete' | operationclaim}">Evet</button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-danger" (click)="onConfirmModalCloseHandled()"
              style="cursor: pointer;">Hayır</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>