<div class="container-fluid" role="main">

  <!--Icon-->
  <div class="row">
    <div class="col-md-1 border-0"><i class="fa fa-magic fa-2x"></i></div>
    <div class="col-md-11">
      <h5>Yetki Tanımlama İşlemleri</h5>
    </div>
  </div>

  <div class="row">
    <!--Search Form-->
    <form [formGroup]="searchForm">
      <!--card-->
      <div class="card p-2 border-0 ">
        <div class="card-body bg-secondary text-white ">
          <div class="row">
            <!--filter-->
            <div class="col-md-10">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="filter" name="filter" id="filter"
                  placeholder="Yetki Adı ile arama yap.." required minlength="1">
                <div class="alert alert-danger"
                  *ngIf="searchForm.get('filter')?.hasError('required')  && searchForm.get('filter')?.dirty">
                  Yetki Adı girmek zorundasınız</div>
                <div class="alert alert-danger"
                  *ngIf=" searchForm.get('filter')?.hasError('minlength')  && searchForm.get('filter')?.dirty">En
                  az 1 Harf girmek zorundasınız
                </div>
              </div>
            </div>

            <!--Search Button-->
            <div class="col-md-1">
              <div class="form-group">
                <button type="button" class="btn btn-warning text-white" name="search" (click)="search()"
                  [disabled]="!searchForm.valid" style="cursor: pointer;"
                  [ngStyle]="{'display':'OperationClaim.Search' | operationclaim}">Ara</button>
              </div>
            </div>

            <!--Clear Button-->
            <div class="col-md-1">
              <div class="form-group">
                <button type="button" class="btn btn-light" name="clear" (click)="clear()"
                  style="cursor: pointer;">Temizle</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>

  <!--call OperationClaimModal-->
  <div class="row p-2">
    <div class="col-md-2">
      <button type="button" class="btn btn-info text-white" (click)="openOperationClaimModal()" style="cursor: pointer;"
        [ngStyle]="{'display':'OperationClaim.Add' | operationclaim}"> <i class="fa fa-plus"></i> Yeni
        Yetki Ekle </button>
    </div>
  </div>

  <!--Table-->
  <div class="card p-2">
    <div class="card-body">
      <div class="table-responsive" id="divSerach">
        <table class="table align-items-center table-flush" id="tblSearch" name="tblSearch">
          <thead>
            <th style="display: none;"><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('id')"
                style="cursor: pointer;"></i>Id<i class="fa fa-arrow-circle-up" aria-hidden="true"
                (click)="orderAsc('id')" style="cursor: pointer;"></i></th>
            <th><i class="fa fa-arrow-circle-down" aria-hidden="true" (click)="orderDesc('name')"
                style="cursor: pointer;"></i>Yetki Adı<i class="fa fa-arrow-circle-up" aria-hidden="true"
                (click)="orderAsc('name')" style="cursor: pointer;"></i></th>
            <th class="col-md-1">İşlemler</th>
          </thead>
          <tbody>
            <tr
              *ngFor="let operationClaimSearchResponseModel of operationClaimSearchResponseModels | paginate: {id:'operationClaimPagination',itemsPerPage:itemsPerPage, currentPage:currentPage}">
              <td style="display: none;">{{operationClaimSearchResponseModel.id}}</td>
              <td>{{operationClaimSearchResponseModel.name}}</td>
              <td class="col-md-1">
                <div class="row">
                  <i class="fa fa-pencil fa-2x  col-md-6" style="color: steelblue;cursor: pointer;"
                    (click)="openOperationClaimModal(operationClaimSearchResponseModel.id)"
                    [ngStyle]="{'display':'OperationClaim.Update' | operationclaim}"></i>
                  <i class="fa fa-trash fa-2x col-md-6" style="color: red;cursor: pointer;"
                    (click)="openConfirmModal(operationClaimSearchResponseModel.id)"
                    [ngStyle]="{'display':'OperationClaim.Delete' | operationclaim}"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--pagination-->
  <div class="row p-2">
    <div class="col-md-10">
      <pagination-controls id="operationClaimPagination" (pageChange)="currentPage = $event"></pagination-controls>
    </div>
  </div>

  <!--bottoms-->
  <div class="col-md-1">
    <div class="row">
      <i class="fa fa-file-excel-o fa-2x col-md-6" style="color:green;cursor: pointer;" (click)="exportToExcel()"
        [ngStyle]="{'display':'OperationClaim.GetList' | operationclaim}"></i>
      <i class="fa fa-file-pdf-o fa-2x col-md-6" style="color:red;cursor: pointer;" (click)="exportToPdf()"
        [ngStyle]="{'display':'OperationClaim.GetList' | operationclaim}"></i>
    </div>
  </div>
</div>
<div class="col-md-1"></div>

<!--OperationClaim modal-->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayOperationClaimModal}">
  <div class="modal-dialog modal-lg" role="dialog">
    <div class="modal-content bg-secondary text-white">
      <div class="modal-header">
        <h4 class="modal-title">Yetki Ekleme & Düzenleme</h4>
        <button type="button" class="btn btn-light" aria-label="Close" (click)="onOperationClaimModalCloseHandled()"
          style="cursor: pointer;">
          <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body bg-secondary text-white">
            <form [formGroup]="operationClaimForm">

              <!--id-->
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="hidden" class="form-control" formControlName="id" id="id" name="id">
                  </div>
                </div>
              </div>

              <!--name-->
              <div class="form-group pt-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="name" class="form-label">Yetki Adı :</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control" formControlName="name" id="name" name="name"
                      placeholder="Yetki Adını Yazınız." required minlength="3">
                    <div class="alert alert-danger"
                      *ngIf="operationClaimForm.get('name')?.hasError('required') && operationClaimForm.get('name')?.dirty">
                      Yetki Adı zorunlu!</div>
                    <div class="alert alert-danger"
                      *ngIf="operationClaimForm.get('name')?.hasError('minlength') && operationClaimForm.get('name')?.dirty">
                      En
                      Az 3 Harf zorunlu!</div>
                  </div>
                </div>
              </div>

              <!--linkedOperationClaimId-->
              <div class="form-group pt-4">
                <div class="row">
                  <div class="col-md-4">
                    <label for="linkedOperationClaimId" class="col-form-label">Bağlı Olduğu Yetki :</label>
                  </div>
                  <div class="col-md-8">
                    <select class="form-select" [(ngModel)]="linkedOperationClaimIdDefault"
                      formControlName="linkedOperationClaimId" id="linkedOperationClaimId" name="linkedOperationClaimId"
                      required min="0" style="cursor: pointer;">
                      <option value=-1 selected disabled>Bağlı Olduğu Yetkiyi Seçiniz</option>
                      <option *ngFor="let operationClaimGetListResponseModel of operationClaimGetListResponseModels"
                        value={{operationClaimGetListResponseModel.id}}>{{operationClaimGetListResponseModel.name}}
                      </option>
                    </select>
                    <div class="alert alert-danger"
                      *ngIf="operationClaimForm.get('linkedOperationClaimId')?.hasError('required') && operationClaimForm.get('linkedOperationClaimId')?.dirty">
                      Bağlı Olduğu Link zorunlu!</div>
                    <div class="alert alert-danger"
                      *ngIf="operationClaimForm.get('linkedOperationClaimId')?.hasError('min') && operationClaimForm.get('linkedOperationClaimId')?.dirty">
                      0 dan Büyük olmak
                      zorunlu!</div>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      <!--modal footer-->
      <div class="modal-footer bg-secondary text-white justify-content-center  pt-4">
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!operationClaimForm.valid"
          style="cursor: pointer;" [ngStyle]="{'display':'OperationClaim.Add' | operationclaim}"
          [ngStyle]="{'display':'OperationClaim.Update' | operationclaim}">Kaydet</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayConfirmModal}">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content bg-secondary text-white">
      <div class="modal-header">
        <h4 class="modal-title">Yetki Silme Onay</h4>
        <button type="button" class="btn btn-light" aria-label="Close" (click)="onConfirmModalCloseHandled()"> <i
            class="fa fa-times-circle fa-2x" aria-hidden="true" style="cursor: pointer;"></i></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body bg-secondary text-white">
            <div class="row">
              <div class="col-md-12">
                <h5>
                  Silmek İstediğinizden Emin misiniz?
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-secondary text-white justify-content-center">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-success" (click)="deleteFromConfirm()" style="cursor: pointer;"
              [ngStyle]="{'display':'OperationClaim.Delete' | operationclaim}">Evet</button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-danger" (click)="onConfirmModalCloseHandled()"
              style="cursor: pointer;">Hayır</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>